<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lgofit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitVida"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity
            android:name="pt.iade.FitVida.Register_unique"
            android:exported="false"/>
        <activity
            android:name="pt.iade.FitVida.fragment_review"
            android:exported="false" />
        <activity
            android:name="pt.iade.FitVida.NutriFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="pt.iade.FitVida.HomeActivity"
            android:exported="false" />
        <activity
            android:name="pt.iade.FitVida.LoginActivity"
            android:exported="false" />
        <activity
            android:name="pt.iade.FitVida.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="pt.iade.FitVida.MainActivity"
            android:exported="false" />
        <activity
            android:name="pt.iade.FitVida.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.iade.FitVida.passos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>